@import "~xp.css/dist/XP.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  --white: #fff;
  --light-grey: #dfdfdf;
  --dark: #0a0a0a;
}

canvas {
  position: sticky;
  width: 100%;
  top: 10%;
  left: 50%;
  transform: translate(-40%, 20px);
  cursor: url(./icons/pencil.png) 0 34, auto;
}

.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 336px;
}

.color {
  width: 24px;
  height: 24px;
  cursor: pointer;
  box-shadow: inset -1px -1px var(--white), inset 1px 1px grey,
    inset -2px -2px var(--light-grey), inset 2px 2px var(--dark);
}

.colors-panel {
  position: fixed;
  top: 40px;
  left: 12%;
  transform: translate3d(-50%, 0, 0);
  z-index: 10;
  height: 400px;
}

.colors-container {
  display: flex;
  flex-wrap: wrap;
  height: 355px;
  overflow-y: scroll;
}

.controls-container {
  position: fixed;
  bottom: 40%;
  left: 1%;
  z-index: 10;
  display: flex;
  gap: 16px;
}

.modal-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 10;
}

.main-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.projects-container {
  overflow: auto;
  max-width: 600px;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 10px;
  width: 600px;
}

.project-card {
  width: 100px;
  height: 100px;
  margin: 20px;
  cursor: pointer;
  text-align: center;
}

.project-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
